
::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color:   #222;
  border-radius: 3px;
}


body {
  background-color: #222;
  color: #fff;
}

.login-container {
  position: relative;
}

.login {
  width: 400px;
  height: 800px;
  color: #222;
  border-radius: 60% / 10%;
  transform: translateY(-0px);
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 460px;
  left: -350px;
}

#chk:checked ~ .login {
  transform: translateY(-350px);
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222b4;
  height: 100vh;
}

.divider {
  width: calc(100% + 46px);
  transform: translate(-23px);
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.close {
  position: absolute;
  inset: 0;
  top: 10px;
  left: 10px;
  background-color: #fff;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #adb5bd;
  margin: 0 0.5rem;
}

.product{
  background: #eee;
  transition: .2s;
  &:hover{
    background-color: #ccc;
  }
}

.search {
  background-color: transparent !important;
  border: transparent !important;
}