body {
  background-color: #222;
  color: #fff;
}

.login-container {
  position: relative;
}

.login {
  width: 400px;
  height: 800px;
  color: #222;
  border-radius: 60% / 10%;
  transform: translateY(-0px);
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 460px;
  left: -350px;
}

#chk:checked ~ .login {
  transform: translateY(-350px);
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #22222296;
}

.divider{
  width: calc(100% + 46px);
  transform: translate(-23px);
}